@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');


*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0 0 5px;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 18px;
    height: 50px;
    font-weight: 500;
    background-color: #DB2512;
    min-width: 200px;
    transition: background-color .2s ease;

}

.btn:hover {
    background-color: #720b18;
}

.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;

}

.header__wrapper {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
}

.header__block {
    width: 20%;
}

.header__logo {
    display: inline-block;

}

.header__logo img {
    height: 65px;
}


.nav {
    display: flex;
}

.nav__link {
    margin-right: 35px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    position: relative;
}

.nav__link:after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: #FFFFFF;
    position: absolute;
    top: 100%;
    left: 0;
    opacity: 0;
    transition: opacity .2s ease;
}

.nav__link:last-child {
    margin-right: 0;
}

.nav__link:hover:after {
    opacity: 1;
}

.nav__link.active:after {
    opacity: 1;
}

.header__lng {
    display: flex;
    justify-content: flex-end;

}

.header__lng-link {
    margin-right: 8px;
    font-weight: 600;
    color: #B7B7B7;
    text-transform: uppercase;
    text-decoration: none;
    transition: color .2s ease;
}

.header__lng:last-child {
    margin-right: 0;
}

.header__lng-link:hover {
    color: #FFFFFF;
}

.header__lng-link.active {
    color: #FFFFFF;
}

/*Header END!*/

/*Intro START!*/

.intro {
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.intro:after {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000;
    opacity: .2;
    content: '';
}

.intro__content {
    height: 750px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
}

.intro__block {

}

.intro__title {
    max-width: 790px;
    margin-bottom: 30px;
    font-size: 48px;
    font-weight: 700;
    color: #FFFFFF;
    line-height: 150%;

}


/*Intro END!*/
.section{
    margin-bottom: 100px;
}
/*Info START!*/

.info {
    transform: translateY(-50%);

}

.info__wrapper {
    display: flex;
    margin: 0 -10px;

}

.info__block {
    width: 33.33%;
    padding: 10px;

}

.info__item {
    background-color: #FFFFFF;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    padding: 40px 40px 30px;

}

.info__img {
    margin-bottom: 20px;

}

.info__img img{
    height: 30px;
}

.info__title {
    margin-bottom: 10px;
    font-size: 18px;
    letter-spacing: 0.15em;

}

.info__text {
    font-size: 18px;
    color: #B7B7B7;

}

/*Info END!*/

/*Block START!*/

.block__title{
    letter-spacing: 0.15em;
    margin-bottom: 15px;
    font-size: 30px;
}

.block__link{
    margin-bottom: 60px;
    display: inline-block;
    letter-spacing: 0.15em;
    color: black;
}
.block__link:hover{
    text-decoration: none;
}

.wrapper{
    display: flex;
    margin: 0 -10px;

}
.block{
    width: 33.333%;
    padding: 0 10px ;
}

/*Block END!*/

/*Services START!*/

.services__item{
    text-decoration: none;

}

.services__item:hover .services__content-item{
    opacity: 1;
}

.services__item:hover .services__content:after{
    opacity: .7;
}

.services__content{
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 20px;
    position: relative;

}
.services__content:after{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    transition: opacity .2s ease;
}

.services__content-item{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;
    transition: opacity .2s ease;
}

.services__img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #DB2512;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.services__title{
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.23em;
    color: black;

}

.services__text{
    max-width: 270px;
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
    letter-spacing: 0.23em;
    position: absolute;
    left: 30px;
    bottom: 20px;

}



/*Services END!*/
