body {
    width: 1280px;
    margin: 0 auto;
}

button {
    width: 334px;
    height: 79px;
    margin-top: 63px;
    margin-bottom: 38px;
    font-size: 80px;
    line-height: 9px;
    color: #000000;
    background: #FFFFFF;
    border: none;
}

.colortext {
    color: lightskyblue;
}

.top-menu {
    display: flex;
    justify-content: center;
    width: 1280px;
    height: 72px;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    background: #35444F;
    list-style-type: none;

}

.menu-item {
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.menu-item:hover {
    background: #222F3A;
}

.left-menu {
    border: 1px solid #000000;
    width: 344px;
    height: 399px;
    font-size: 27px;
    color: #485863;
    margin-top: 48px;
}

.left-item:hover {
    background: #DBDBDB;
    font-weight: bold;
    padding-left: 40px;
}

li {
    padding: 26px;
}


.container {
    display: flex;
}

.logo {
    border: 1px solid #000000;
    width: 885px;
    height: 529px;
    margin-top: 48px;
    margin-left: 110px;
    text-align: center;
}

img {
    padding-top: 75px;
}

.description {
    margin-left: 440px;
}

p {
    font-size: 18px;
    line-height: 24px;
    margin-top: 27px;
}

.container-bottom {
    display: flex;
}

.menu-bottom {
    display: flex;
    background: rgba(99, 105, 110, 0.48);
    margin-top: 54px;
    margin-bottom: 51px;
    width: 1280px;
    height: 69px;
    padding-bottom: 8px;
}

.bottom-item {
    font-size: 27px;
    line-height: 28px;
}
.bottom-item:hover{
    color: #3181A6;
    border-bottom: 1px solid #3181A6;

}
.menu-bottom-p{
    font-size: 24px;
    line-height: 24px;
    padding-left: 135px;
}


