body {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

.clearfix:after{
    content: '';
    display: table;
    width: 100%;
    clear: both;
}

div {
    box-sizing: border-box;
}

header {
    background: url("../img/first-bg.jpg") no-repeat center top /cover;
    padding-bottom: 160px;

}

.container {
    width: 930px;
    margin: 0 auto;

}

.logo{
    margin-top: 41px;
    float: left;
}

nav{
    float: right;
    margin-top: 45px;
}

.menu{
    padding: 0;
    margin: 0;
    display: block;
}

.menu li{
    float: left;
    display: block;
    margin-right: 41px;
}
.menu li a{
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

.titles__first{
    font-size: 40px;
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
    margin-top: 180px;
}
h1{
    font-size: 75px;
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
    margin: 15px;
}
.button{
    background: #fed136;
    color: #484543;
    border-radius: 3px;
    display: block;
    width: 240px;
    padding: 20px 0;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    margin-top: 30px;
}

.title{
    padding-top: 115px;

}

.title h2{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}

.title p{
    color: #777777;
    text-align: center;
    font-size: 16px;
    margin-top: 5px;
}

.services{
    margin-top: 80px;
}

.services__item{
    width: 270px;
    float: left;
    text-align: center;
}
.services__item h3{
    font-size: 18px;
    margin-bottom: 5px;

}

.services__item p{
    font-size: 14px;
    color: #777777;
    line-height: 1.55em;
}

.services__item:last-child{
    float: right;
}

.services__item:nth-child(2){
    margin-left: 60px;
}

#services{
    padding-bottom: 120px;
}

#portfolio{
    background: #f7f7f7;
    padding-bottom: 120px;
}

.works{
    margin-top: 70px;
}

.works img{
    float: left;
}

.works img:nth-child(2){
    margin-left: 29px;
}

.works img:last-child{
    float: right;
}