body {
    width: 100%;
    max-width: 1280px;
    max-height: 1626px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.0001);
}

.menu {
    text-align: center;
    margin-bottom: 25px;
    margin-top: 25px;
}

.menu li {
    display: inline;
    list-style-type: none;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;

}

.menu li a {
    height: 27px;
    color: #FF0000;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    text-decoration: none;
}

.firstcell {
    width: 68px;
    margin-left: 0px;
}

.secondcell {
    width: 131px;
    margin-left: 72px;
}

.thirdcell {
    width: 87px;
    margin-left: 72px;
}

.fourthcell {
    width: 140px;
    margin-left: 50px;
}

h2 {
    text-align: center;
    margin-top: 48px;
    margin-left: 253px;
    margin-right: 253px;
    margin-bottom: 38px;
    width: 774px;
    height: 29px;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    color: #373737;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
}

.description-top {
    margin-left: 67.5px;
    margin-right: 67.5px;
    margin-bottom: 28px;
    width: 1145px;
    height: 132px;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
}

.description-bottom {
    margin-left: 67.5px;
    margin-right: 67.5px;
    margin-bottom: 66px;
    width: 1145px;
    height: 216px;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
}

.start {
    background: #FF0000;
    color: #FFFFFF;;
    width: 191px;
    height: 51px;
    margin-left: 544.5px;
    margin-right: 544.5px;
    margin-bottom: 42px;
    text-align: center;
    border-radius: 4px;
    padding-top: 18px;
    padding-left: 42.5px;
    padding-right: 43.5px;
    padding-bottom: 17px;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
}

.bottom-text {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    margin-top: 40px;
    margin-left: 713px;
    margin-right: 105px;
    margin-bottom: 29px;

}
