body {
    width: 100%;
    max-width: 1349px;
    height: 768px;
    background-size: cover;
    background-image: url("img/background 1.png");
    color: white;

}
.title{
    display: flex;
    margin-bottom: 22px;
    margin-top: 51px;
}

.title a{
    color: white;
}
.title a:hover{
    color: #F26522;
}
.logo{
    margin-left: 154px;
}
.milan{
    font-size: 29px;
    padding-left: 10px;
}
.holidays{
    font-size: 18px;
    padding-top: 4px;
    padding-left: 10px;
}
.contacts{
    text-align: end;
    padding-left: 705px;
}
.phone-number{
    text-align: end;
    padding-top: 19px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 78px;
    column-gap: 64px;
    justify-content: center;

}

.proposition {
    position: relative;
    width: 304px;
    height: 222px;
    text-align: center;

}

.proposition img {
    width: 304px;
    height: 222px;
}


.info-window {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 55px;
    justify-content: space-between;
    background: #F26522;
    opacity: 0;

}

.proposition:hover .info-window {
    opacity: 1;

}

.proposition:hover .logo-info {
    color: #F26522;
}

.proposition:hover .logo-info a {
    color: #F26522
}


.from {
    padding-top: 7px;
    padding-left: 12px;
    font-size: 10px;

}

.euro {
    padding-top: 10px;
    padding-left: 12px;
    font-size: 20px;
}

.details {
    padding-top: 26px;
    padding-right: 25px;
    font-size: 14px;

}
.details:after{
    content: "\203A";
    margin-left: 10px;
    font-size: 20px;
}


a {
    text-decoration: none;
}


.logo-info {
    font-size: 18px;
    padding-top: 20px;

}

.logo-info a {
    color: white;
}

.rights {
    font-size: 12px;
    text-align: center;
    padding-top: 90px;
}