
body {
    background: black;
    overflow: hidden;
    margin-top: 45%;
    position: relative;
}

.container {
    display: flex;
    height: 100%;
    width: 60%;
    margin: 0 auto;
    perspective: 500px;
}

.text-star_wars {
    color: gold;
    font-size: 3vw;
    line-height: 1.5em;
    font-weight: bold;
    text-align: justify;
    position: relative;
    animation: stormtroopers_anthem 30s linear 2;

}

h4 {
    text-align: center;
}

@keyframes stormtroopers_anthem {
    from {
        top: 0;
        transform: translateZ(0);
        transform: rotateX(20deg);
    }
    to {
        top: -850px;
        transform: translateZ(-2500px);
        transform: rotateX(21deg);
    }
}