* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}


.container {
    max-width: 1900px;


}

.nav {
    display: flex;
    background: #313131;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    display: flex;
    padding-left: 29px;
}

.nav-logo p {
    padding-left: 27px;
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
}

.nav-menu-desc {
    display: flex;

}

.nav-menu-desc li {
    list-style-type: none;
}

.nav-menu-desc a {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 15px;
    transition: color 0.2s linear;

}

.nav-menu-desc li {
    padding-right: 35px;

}

.nav-menu-desc li:last-child {
    padding-right: 0;
}

.nav-menu-desc li a:hover {
    color: #14B9D5;
}

.nav-search {
    padding: 26px;
    background: black;
}

/*Nav END!!!*/

/*Header-title START*/

.header-title {
    background: url('../img/bg.jpg') no-repeat center top/cover;
    background-attachment: fixed;
}


.title {
    text-align: center;
    padding-top: 163px;
    padding-bottom: 74px;

}

.title h1 {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 27px;
    margin-bottom: 44px;

}

.title-btn {
    justify-content: center;
    display: flex;


}

.title-btn a {
    text-decoration: none;
    color: #ffffff;
    width: 170px;
    padding: 16px 0px;
    border-radius: 4px;

}

.title-btn-left {
    background-color: #89CA62;
    margin-right: 10px;
}

.title-btn-right {
    background-color: #14B9D5;
    margin-left: 10px;

}

/*Header-title END!*/

/*Header END!*/

/*First section START!*/

.gallery-photo {
    max-width: 1900px;
    display: flex;
    justify-content: center;
    background-color: #F2F2F2;

}

.container-gallery {
    width: 1170px;

}


.gallery-title {
    text-align: center;
    margin-top: 49px;

}

.gallery-title h2 {
    color: #18B4CF;
    text-transform: uppercase;
    font-size: 27px;

}

.gallery-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 52px;
    margin-bottom: 67px;
}

.gallery-img p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -5px;
    background-color: #ffffff;
    height: 61px;
    font-size: 18px;
    color: #353A3D;
}

/*First section END!*/

/*Second section START!*/

.section-title {
    background: url('../img/Layer 4 1.jpg') no-repeat center top/cover;
    background-attachment: fixed;

}

.section-title-desc {
    display: grid;
    justify-content: center;

}

.section-title-desc h2 {
    margin-top: 106px;
    color: #ffffff;
    font-size: 32px;
    text-transform: uppercase;

}

.section-title-icons {
    display: grid;
    grid-template-columns: 207px 135px 232px 141px;
    justify-content: center;
    align-items: center;
    column-gap: 58px;
    margin-top: 197px;
    padding-bottom: 191px;

}

/*Second section END!*/
/*Third section START!*/

.photos-desc {
    margin-top: 49px;

}

.photos-title {
    display: grid;
    justify-content: center;


}

.photos-title h2 {
    color: #18B4CF;
    text-transform: uppercase;
    font-size: 27px;
}

.photos-gallery {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-top: 52px;

}

.photos-gallery > img {
    width: 100%;
}

/*Third section END!*/
/*Fourth section Start!*/

.grid-container {
    max-width: 1900px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.grid-container h1 {
    font-size: 27px;
    color: #18B4CF;
    text-transform: uppercase;
    margin: 50px 0px;
    font-weight: bold;
}

.hot-news {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    max-width: 1170px;

}

.hot-news > div {
    display: flex;
    flex-direction: column;
}

.hot-news > div > img {
    width: 100%;
}

.hot-news > div > div {
    display: flex;
    flex-direction: column;
    background: #F9F7F7;
    flex: 1;

}

.hot-news > div.hotel {
    grid-column: span 3;
    display: flex;
    flex-direction: row;

}

.hot-news > div.hotel > div {
    flex: initial;
}

.hotel-place {
    grid-column: span 2;

}

.news-title {
    text-align: end;
    font-size: 18px;
    margin-bottom: 15px;
    padding-right: 25px;
    padding-top: 14px;


}

.news-title-small {
    text-align: center;
    font-size: 18px;
    margin-top: 15px;

}

.news-desc {
    font-size: 14px;
    color: #5B6469;
    text-align: end;

}

/*Fourth section END!*/
/*Footer START!*/

.bg {
    background: black;
    display: flex;
    justify-content: center;
    margin-top: 77px;
}

.footer-desc {
    width: 1170px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.rights {
    font-size: 13px;
    color: #ffffff;
    padding: 30px 0px;
}

.footer-logo{
    display: flex;
    align-items: center;
}