body {
    margin: 0;
    padding: 0;
    font-family: 'Anton', sans-serif;

}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

ul, li {
    display: block;
    padding: 0;
}

.header {
    background: url("../img/header-bg.jpg") no-repeat center top/cover;
    padding-top: 57px;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.nav {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 69px;
}

header a {
    color: #ffffff;
    text-decoration: none;

}

.menu {
    display: flex;
}

.menu li a {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.1em;

}

.menu li {
    margin-right: 40px;
    list-style-type: none;
}

.tel {
    font-size: 17px;
    margin-left: auto;
    letter-spacing: 0.1em;

}

.offer {
    text-transform: uppercase;
    margin-top: 216px;
    color: #ffffff;
    padding-bottom: 322px;

}

.offer p {
    font-size: 30px;
    letter-spacing: 0.1em;
}

.offer h1 {
    margin-top: -9px;
    font-size: 100px;
    margin-bottom: 19px;
}

.btn {
    display: block;
    padding: 18px 23px;
    border: 1px solid #ffffff;
    width: 238px;
    text-align: center;

}

section {
    padding-top: 113px;
}

h2 {
    font-size: 50px;
    margin-bottom: 58px;
    font-weight: 400;
}

.description {
    display: flex;
    justify-content: space-between;

}

.description h3 {
    font-size: 25px;
}

.description p {
    text-align: justify;
    font-weight: 400;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    line-height: 1.62em;
}

.desc-left, .desc-right {
    width: 567px;
}

.gallery {
    margin-top: 67px;
    display: flex;
    justify-content: space-between;
}

.footer-text {
    display: flex;
    font-family: 'Open Sans';
    font-size: 15px;
    padding: 114px 0;
}

.footer-text p {
    margin-right: 67px;

}