body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

p {
    margin: 0;
}


/*Container*/

.container {
    width: 100%;
    max-width: 1208px;
    margin: 0 auto;
}

/*Header*/

.header {
    background: url("../img/BG.jpg") center no-repeat;
    background-size: cover;

    width: 100%;
    height: 100vh;
}

.header__line {
    background-color: #000000;
    opacity: 0.4;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 4px 0;

}

.logo__name {
    color: #FFFFFF;
    text-transform: uppercase;

    font-weight: 700;
    font-size: 22px;

    transition: color 0.2s linear;

}

.logo__name:hover {
    color: #01813F;
}

.nav {
    display: flex;
    align-items: center;

}


.nav__link {
    padding-right: 25px;

    text-decoration: none;
}

svg path {
    transition: fill 0.2s linear;
}

svg path:hover {
    fill: #01813F;
}

.nav__link:last-child {
    padding-right: 53px;
}

.nav__items {
    position: relative;
}

.nav__item {
    color: #FFFFFF;

    font-size: 14px;
}

.nav__item span {
    transition: color 0.2s linear;

}

.nav__item span:hover {
    color: #01813F;
}

.nav__item:before {
    content: "";
    display: inline-block;

    position: absolute;
    top: 50%;
    left: -27px;

    height: 19px;
    width: 1px;

    background-color: #FFFFFF;

    transform: translateY(-50%);

}

/*Form*/
.form {
    width: 100%;
    max-width: 444px;

    margin: 52px auto 72px;


    background-color: #FFFFFF;

    position: relative;
}

.form__container {
    width: 100%;
    max-width: 324px;

    margin: 0 auto;
}


.form__entrance {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 31px;
}

.form__entrance a {
    color: #3CB878;
    text-decoration: none;

}

.form__entrance a:active {
    color: #01813F;
    text-decoration: underline;

}


.entrance__item {
    font-size: 20px;

}

.entrance__item:before {
    content: "";
    display: block;

    width: 18px;
    height: 18px;

    background-color: #3CB878;

    position: absolute;
    top: 36px;
    left: 0;

}


.form__networks {
    display: flex;
    justify-content: space-between;
}

.form__networks {
    display: flex;
    align-items: center;

    margin: 15px 0 31px 0;


}

.form__network {
    display: flex;
    align-items: center;

    height: 48px;
    padding: 12px 26px 12px 13px;
    border-radius: 3px;

    position: relative;

}

.facebook {
    background-color: #305DB8;
}

.google {
    background-color: #DF4A32;
}

.logo__network {
    display: block;
}

.network__item {
    padding-left: 38px;

    color: #FFFFFF;
    text-decoration: none;

    font-size: 16px;

}

.network__item:before {
    content: "";
    display: block;

    width: 1px;
    height: 28px;

    background-color: #0A162F;

    opacity: 0.1;

    position: absolute;
    top: 50%;
    left: 48px;

    transform: translateY(-50%);

}

.form__another {
    display: flex;
    justify-content: center;
    align-items: center;

    color: #848484;
}

.form__another {
    margin-bottom: 12px;

    position: relative;
}

.another__item:before {
    content: "";
    display: block;

    height: 1px;
    width: 152px;

    background-color: #F2F2F2;

    position: absolute;
    top: 10px;
    left: 0;


}

.another__item:after {
    content: "";
    display: block;

    height: 1px;
    width: 152px;

    background-color: #F2F2F2;

    position: absolute;
    top: 10px;
    left: 173px;

}

/*Form Data*/

.form__data {
    display: flex;
    justify-content: center;
}

.form__item {
    margin-top: 15px;

}

.form__item:first-child {
    margin-top: 0px;
}

.input__item {
    width: 324px;
    height: 44px;
    padding: 15px 19px;

    border-radius: 4px;
    border: 1px solid #F2F2F2;

    font-size: 14px;
}

.input__item:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    outline: none;
    color: #434343;

}

::-webkit-input-placeholder {
    color: #BEBEBE;
}


.form__checkbox {
    display: flex;
    align-items: center;
}

.form__checkbox {
    margin-top: 12px;
    position: relative;
}

.checkbox__input {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
}

.checkbox__label {
    font-size: 14px;
    color: #434343;

    padding-left: 28px;
}

.checkbox__label:before {
    content: "";
    display: block;

    width: 20px;
    height: 20px;

    border: 1px solid #F2F2F2;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.checkbox__label:after {
    content: "";
    display: block;

    width: 20px;
    height: 20px;

    background: url("../img/Vector 1.svg") no-repeat;
    background-size: 16px 16px;
    opacity: 0;

    position: absolute;
    top: 3px;
    left: 2px;
    z-index: 2;

}

.checkbox__input:checked + .checkbox__label:after {
    opacity: 1;
}

.checkbox__active {
    text-decoration: none;
    color: #3CB878;
}

.checkbox__active:active{
    color: #01813F;
    text-decoration: underline;
}

.form__btn {
    display: flex;
    justify-content: center;

    margin: 20px 0 38px 0;
}

button {
    cursor: pointer;

    border: none;
    border-radius: 4px;

    width: 324px;
    padding: 19px 99px;

    color: #FFFFFF;
    background-color: #3CB878;

    font-size: 16px;
}

button:active{
    background-color: #01813F;
}
