body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #333;
    line-height: 1.6;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;

}

hr {
    display: block;
    border: 0;
    background-color: #e5e5e5;
    width: 100%;
    height: 1px;
    margin: 40px 0;
}

/*Container*/
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}


/*Header*/
.header {
    width: 100%;
    padding-top: 30px;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 30px;
    font-weight: 700;
    color: #FFFFFF;
}

/*Nav*/
.nav {
    text-transform: uppercase;
    font-size: 14px;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;

    color: #FFFFFF;
    text-decoration: none;

    transition: color .1s linear;
}

.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    background: #fce38a;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .1s linear;
}

.nav__link:hover {
    color: #fce38a;
}

.nav__link:hover:after {
    opacity: 1;
}

/*Intro*/
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    height: 100vh;

    background: url("../img/picture_4.jpg") center no-repeat;
    background-size: cover;
}

.intro__inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;

    text-align: center;
}

.intro_suptitle {
    margin-bottom: 22px;
    font-size: 72px;
    color: #FFFFFF;
    font-family: 'Kaushan Script', cursive;

}

.intro__title {
    color: #FFFFFF;

    font-size: 150px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
}

.intro__title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #FFFFFF;
    margin: 60px auto;
}

/*Button*/
.btn {
    display: inline-block;
    vertical-align: top;
    padding: 15px 30px;

    border: 3px solid #FFFFFF;

    color: #FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;

    transition: color .1s linear, background-color .1s linear;

}

.btn:hover {
    background-color: #FFFFFF;
    color: #333333;

}

/*Slider*/
.slider {
    width: 100%;

    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;

}

.slider__inner {
    display: flex;
    justify-content: space-between;

}

.slider__item {
    width: 23%;
    padding: 20px 0;
    position: relative;

    border-top: 3px solid #FFFFFF;
    opacity: .7;

    font-size: 18px;
    color: #FFFFFF;
    text-transform: uppercase;

}

.slider__item.active {
    opacity: 1;
}

.slider__item.active:before {
    content: "";
    display: block;
    width: 70px;
    height: 3px;

    background-color: #f38181;

    position: absolute;
    top: -3px;
    left: 0;
    z-index: 1;

}

.slider__num {
    font-size: 24px;
    font-weight: 700;
}

/*Section*/
.section {
    padding: 80px 0;
}

.section--gray {
    background-color: #f8f8f8;
}

.section__header {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 50px;

    text-align: center;
}

.section__suptitle {
    font-size: 24px;
    color: #333333;
    font-family: 'Kaushan Script', cursive;
}

.section__title {
    font-size: 30px;
    font-weight: 700;
    color: #333333;
    text-transform: uppercase;
}

.section__title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 30px auto;

    background-color: #f38181;
}

.section__text {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #999;
}

/*About*/

.about {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.about__item {
    width: 380px;
    position: relative;

    background-color: #95e1d3;

}

.about__item:hover .about__img {
    transform: translate3d(-10px, -10px, 0);
}


.about__item:hover .about__img img {
    opacity: .1;
}

.about__img {
    background: linear-gradient(to bottom, #f38181, #fce38a);

    transition: transform .1s linear;
}

.about__img img {
    display: block;
    transition: opacity .1s linear;
}

.about__text {
    width: 100%;

    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    opacity: 0;

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translate3d(0, -50%, 0);

    transition: opacity .2s linear;

}

.about__item:hover .about__text {
    opacity: 1;
}

/*Statistics*/

.statistics {
    background-color: #95e1d3;
}

.stat {
    display: flex;

}

.stat__item {
    flex: 1 1 0;
    text-align: center;
    padding: 70px 25px;

    color: #FFFFFF;

    border-left: 1px solid #FFFFFF;
}

.stat__item:last-child {
    border-right: 1px solid #FFFFFF;
}

.stat__count {
    font-size: 72px;
    font-weight: 700;
    line-height: 1;

    margin-bottom: 10px;
}

.stat__text {
    font-size: 14px;
    text-transform: uppercase;
}

/*Services*/
.services {
    display: flex;

}

.services__item {
    flex: 1 1 0;

    padding-left: 90px;
    padding-right: 35px;
    position: relative;
}

.services__icon {
    position: absolute;
    top: 0;
    left: 28px;
    z-index: 1;
}

.services__title {
    margin-bottom: 10px;

    font-size: 14px;
    color: #333333;
    text-transform: uppercase;
}

.services__text {
    font-size: 15px;
    color: #999999;
    font-family: 'Roboto', sans-serif;
}


/*Devices*/
.section--devices {
    background: url("../img/devices bg.jpg") center no-repeat;
    background-size: cover;

    padding-bottom: 0;
    margin-bottom: 40px;
}

.devices {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
}

.devices__item {
    display: block;
}

.devices__item--iphone {
    position: absolute;
    bottom: -80px;
    right: 0;
    z-index: 1;
}

/*We do*/
.wedo {
    display: flex;
}

.wedo__item {
    width: 50%;
}

/*Accordion*/
.accordion__item {
    margin-bottom: 5px;
    border: 1px solid #e5e5e5;

}

.accordion__item.active
.accordion__content {
    display: block;

}

.accordion__item.active
.accordion__header {
    border-bottom-color: #e5e5e5;

}

.accordion__item.active
.accordion__header:after {
    transform: translateY(-50%) rotate(-45deg);
    margin-top: 5px;

}

.accordion__header {
    padding: 15px 20px 15px 65px;
    border-bottom: 1px solid transparent;
    position: relative;
    cursor: pointer;
}

.accordion__header:after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;

    border-top: 2px solid #cccccc;
    border-right: 2px solid #cccccc;

    position: absolute;
    top: 50%;
    right: 20px;
    z-index: 1;
    transform: translateY(-50%) rotate(135deg);

}

.accordion__icon {
    position: absolute;
    top: 50%;
    left: 20px;
    z-index: 1;

    transform: translateY(-50%);

}

.accordion__title {
    font-size: 14px;
    text-transform: uppercase;
    color: #333333;
}

.accordion__content {
    padding: 15px 20px;
    display: none;
    font-family: 'Roboto', sans-serif;
    color: #999999;
    font-size: 15px;
    font-style: italic;
    font-weight: 300;
}

/*Reviews*/
.reviews {
    padding: 0 110px;
    position: relative;
}

.reviews__item {
    padding-left: 205px;
    position: relative;

}

.reviews__photo {
    padding: 40px 40px;
    border: 3px solid #95e1d3;
    position: absolute;
    top: 50%;
    left: 10px;
    z-index: 1;

    transform: translateY(-50%);
}

.reviews__text {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-style: italic;
    color: #999999;
    font-weight: 300;
    margin-bottom: 15px;
}

.reviews__author {
    font-size: 24px;
    color: #000000;
    font-family: 'Kaushan Script', cursive;

}

.reviews__author:before {
    content: "";
    display: inline-block;
    vertical-align: middle;

    width: 60px;
    height: 3px;
    margin-right: 10px;

    background-color: #f38181;
}

.reviews__btn {
    font-size: 0;
    color: transparent;

    position: absolute;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
}

.reviews__btn:after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;

    border-top: 2px solid #cccccc;
    border-left: 2px solid #cccccc;



}

.reviews__btn--prev{
    left: 0;
    transform: rotate(-45deg);
}
.reviews__btn--next{
    right: 0;
    transform: rotate(135deg);
}